/* Global Styling */
@import url('https://fonts.googleapis.com/css?family=Abel|Anton');

body {
    background-color: #e6e6e6;
    font-family: 'Abel', sans-serif;
    color: black;
    line-height: 1.5;
}
.container {
    width: 100%;
}
h1  {
    font-size: 4em;
}
h2 {
    font-size: 3.7em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.7em;
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: inline;
    float: left;
}
li {
    display: inline;
    padding: 15px;
}
a {
    text-decoration: inherit;
    color: inherit;
}

/* ----------------- */

/* Typography */
.selected-text {
    font-size: 1.2em;
    margin-bottom: 25px;
}

/* Paragraph Styling */

.text-uppercase{
    text-transform: uppercase;

}


/* Helper Classes */
.top {
    margin-top: 40px;
}

/* Header / CTA Styling  */
.background-header {
    background-color: white;
    width: 100%;
    height: 60px;
    margin-bottom: 25px;
    position: relative;


}
.logo {
    height: 105px;
    width: 7em;
    display: block;
    margin: 30px auto 0;
    border-radius: 50px;
    border: 0px solid #00aba9;
    z-index: 3;
    position: relative;
    bottom: 20px;

}

.nav-links {
    margin-top: 15px;
    margin-bottom: 30px;
}

.cta-text {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}


/* -------- */

/* Middle Circles Styling */
.container-circle {
    width: 350px;
    height: 350px;
    margin-bottom: 45px;
}

.marketing-circle {
    width: 100%;
    height: auto;
    padding: 10px;

}



/* Small Circle Styling*/

.circle {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #a7cd80;
    float: right;
    margin: 1em 10px 1em auto;
}

.circle-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

}
.circle-content:before {
    content: '';
    vertical-align: middle;
    display: inline;
    width: 0;
    height: 100%;
}

.circle-content span {

    font-size: .9em;
    display: inline;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    bottom: 3px;


}

.red-circle {
    background-color: #e6563b;

}
.orange-circle {
    background-color: #eb9D3A;
}
.green-circle {
    background-color: #7Cb06c;
}
.blue-circle {
    background-color: #00aba9;
}


/* Media Queries */

/* Small Device */
@media screen and (min-width: 768px) {

    .nav-links {
        width: 100%;
        position: relative;
        bottom: 150px;
        right: -21%;
    }


    .margin-right{
        margin-right: 15%;
    }

    .no-break {
        display: none;
    }

    .container-circle {
        margin: 0 auto;
    }

    .break {
        border: 1px solid grey;
        width: 75%;
    }

}
