@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    width: 90%;
    margin: 0 auto;
    background-color: #E6E6E6;
}

h1, h2, h3, h4, h5, h6 .nav-link {
    font-family: 'Abel', sans-serif;
    text-align: center;
}

.nav-link {
    font-family: 'Abel', sans-serif;
    list-style: none;
    font-size: 28px;
    text-align: center;
}

a {
    color: black;
}

a.nav-link:link {
    text-decoration: none;
    color: black;
}

a.nav-link:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: darkgrey;
    font-size: 1.4em;
}

a.nav-link:visited {
    text-decoration: none;
    color: black;
}

a.nav-link:active {
    text-decoration: none;
    color: darkgrey;
    font-weight: bolder;
    font-size: 1.2em;
}

.nav-links {
    padding: 20px 0;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

.page-title {
    padding: 48px 0;
    text-align: left;
    margin-left: -30px;
}

#logo {
    width: 100%;
    border-radius: 50%;
    z-index: 3;
}

.white-bar {
    width: 100vw;
    height: 70px;
    background-color: white;
    margin: 0 0 0 -5%;
    position: relative;
    top: 110px;
}

h1.content, h3.content {
    font-family: 'Anton', Arial, sans-serif;
    margin: 50px 0;
}

div.spacing {
    height: 50px;
}

img {
    width: 100%;

}

.design-icon>img, .develop-icon>img, .support-icon>img, .host-icon>img {
    width: 100%;
}

.split-icon {
    margin: 30px 0;
}

.section-header {
    margin: 25vh auto 10vh auto;
}

.img-subtext {
    font-family: 'Abel', sans-serif;
}

.img-subtext>h6 {
    font-size: 13px;
}

.ddsh-icon {
    height: 30px;
    width: 30px;
    padding: 7px;
    text-align: center;
    margin: 6px;
    border-radius: 15px;
    font-family: 'Anton', Arial, sans-serif;
}

.red-icon {
    background-color: #E6563B;
}

.orange-icon {
    background-color: orange;
}

.green-icon {
    background-color: #7CB06C;
}

.blue-icon {
    background-color: #00ABA9;
}

.stock-img {
    padding: 5px;
    background-color: white;
}

.sm-img-text {
    margin: 15px;
}

.hr-bar {
    border-bottom: 3px solid darkgray;
    margin-top: 20px;
}

/*xs*/
@media screen and (max-width: 767px) {
    .nav-link {
        font-size: 20px;
    }
}

/*sm*/
@media screen and (min-width: 768px) {
    .nav-link {
        padding-top: 60px;
    }

    .ddsh-icon {
        height: 30px;
        width: 30px;
        padding: 5px;
        text-align: center;
        margin: 2px;
        border-radius: 15px;
        font-family: 'Anton', Arial, sans-serif;
    }

    .img-subtext {
        margin-right: -5px;
    }

    .img-desc {
        margin-top: 7px;
        margin-bottom: 50px;
    }

    .section-header {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

/*md*/
@media screen and (min-width: 992px) {
    .nav-link {
        font-size: 20px;
        text-align: right;
    }

    .ddsh-icon {
        height: 26px;
        width: 26px;
        padding: 4px;
        text-align: center;
        margin: 2px;
        border-radius: 13px;
        font-family: 'Anton', Arial, sans-serif;
    }

    .section-header>h6 {
        text-align: left;
        font-family: 'Abel', sans-serif;
    }

    .section-header {
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .sec-content>h4 {
        text-align: left;
        font-family: 'Anton', Arial, sans-serif;
    }

    .sec-img {
        margin-top: 12px;
    }

    .twitter-header {
        text-align: left;
        padding-left: 0;
    }

    .twitter {
        margin-top: 20px;
    }

    .hr-bar {
        margin-top: 40px;
    }
}

/*lg*/
@media screen and (min-width: 1200px) {
    .nav-link {
        font-size: 20px;
    }

    .page-title {
        padding: 48px 0;
        text-align: left;
        margin-left: -60px;
    }

    .lg-nav:nth-child(9) {
        padding-left: 120px;
    }

    .lg-nav:nth-child(10) {
        padding-left: 80px;
    }

    .lg-nav:nth-child(11) {
        padding-left: 50px;
    }

    .lg-nav:nth-child(12) {
        padding-left: 20px;
    }
}