@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html { box-sizing: border-box; }
html *,
html *:before,
html *:after { box-sizing: inherit; }

body {

    padding: 2em;
    color: #161616;
    font-family: 'Roboto', sans-serif;
    background-color: currentColor;
}

h1 {
    margin-bottom: 1.375em;
    color: #fff;
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

p {
    margin-bottom: 1.375em;
    color: #fff;
    text-transform: uppercase;

}

/* Helpers */

.no-bottom {
    margin-bottom:0;
}
.bottom {
    margin-bottom: 15px;
}

.weather-style {
    font-size: 3em;
}

/* Google Maps */
#map-canvas {
    width: 770px;
    height: 481px;
    padding: 25px;
    margin: 20px auto;
}