@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html { box-sizing: border-box; }
html *,
html *:before,
html *:after { box-sizing: inherit; }

body {
    max-width: 42em;
    padding: 2em;
    color: #161616;
    font-family: 'Roboto', sans-serif;
    background-color: currentColor;
}

h1 {
    margin-bottom: 1.375em;
    color: #fff;
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
}

p {
    margin-bottom: 1.375em;
    color: #fff;
    text-transform: uppercase;

}

